# Site settings
title: Alternative Friday Factorio Fan Facts
url: "https://alt-f4.blog"
description: The community-driven follow-on to the beloved Factorio Friday Facts
# author
author:
  name: "Therenas"
  email: "AlternativeFridayFacts@gmail.com"
  url: "https://alt-f4.blog/about"

# Build settings
source: .
markdown: kramdown
highlighter: rouge
permalink: /:title/ #pretty
destination: ./_site
excerpt_separator: "<!--more-->"
sass:
  style: compressed
  sourcemap: never
# Exclude from processing.
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - README.md
  - submissions/
  - run.sh
  - run.bat
  - TMP

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-seo-tag
  - jekyll-polyglot
  - jekyll-spaceship
  - jekyll-sitemap

# Plugin Settings
paginate: 10
paginate_path: /page:num/

# Default Settings
# theme: minima
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"

#Polyglot
languages:
  - en
  - cs
  - de
  - es
  - fr
  - it
  - nl
  # - pl
  - pt-br
  - ru
  # - ua
  - zh
default_lang: en
lang_from_path: true
parallel_localization: true
exclude_from_localization:
  ["./assets/*", "javascript", "images", "css", "README.md"]

jekyll-spaceship:
  processors:
    - table-processor
    - mathjax-processor
    - mermaid-processor
    - media-processor
  mathjax-processor:
    src:
      - https://polyfill.io/v3/polyfill.min.js?features=es6
      - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
    config:
      tex:
        inlineMath:
          - ["$", "$"]
          - ['\(', '\)']
      svg:
        fontCache: "global"
  mermaid-processor:
    mode: default # mode value 'pre-fetch' for fetching image at building stage
    css:
      class: mermaid
    syntax:
      code: "mermaid!"
    config:
      theme: dark
    src: https://mermaid.ink/svg/
  media-processor:
    default:
      id: "media-{id}"
      class: "media"
      width: "80%"
      height: 504
      frameborder: 0
      style: "max-width: 896px;"
      allow: "encrypted-media; picture-in-picture"
show_drafts: true
