{% if page.author or post.author %}
{{ site.data.locale.author.writtenby }} <em>{{ page.author | default: post.author }}</em>
{%- if (page.editor or page.translator) -%},{% endif %}
{% endif %}

{% if page.editor %}
{{ site.data.locale.author.editedby | downcase }} <em>{{ page.editor | default: post.editor }}</em>
{%- if (page.translator or post.translator) -%},{% endif %}
{% endif %}

{% if page.translator %}
<br>{{ site.data.locale.author.translator | downcase }} <em>{{ page.translator | default: post.translator }}</em>
{%- if (page.proofreader or post.proofreader) -%},{% endif %}
{% endif %}

{% if page.proofreader %}
{{ site.data.locale.author.proofreader | downcase }} <em>{{ page.proofreader | default: post.proofreader }}</em>
{% endif %}

{% if post.date %}
{{ site.data.locale.author.date }} {{ page.date | default: post.date | date: site.data.locale.date-format }}
{% endif %}
