<p>
  <figure>
    <div class="juxtapose juxtapose-{{ include.id }}"
      style="max-width: {{ include.width }}; max-height: {{ include.height }}; margin: 20px auto auto; height: 100%; width: 100%;">
      <div class="jx-slider">
        <div class="jx-handle" style="left: 50%;">
          <div class="jx-arrow jx-left"></div>
          <div class="jx-control">
            <div class="jx-controller" tabindex="0" role="slider" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
          <div class="jx-arrow jx-right"></div>
        </div>
        <div class="jx-image jx-left" style="width: 50%;">
          <img src="{{ include.old }}" alt="Old Image">
        </div>
        <div class="jx-image jx-right" style="width: 50%;">
          <img src="{{ include.new }}" alt="New Image">
        </div>
        <a href="https://juxtapose.knightlab.com" target="_blank" rel="noopener" class="jx-knightlab">
          <div class="knightlab-logo">
          </div>
          <span class="juxtapose-name">JuxtaposeJS</span>
        </a>
      </div>
    </div>
    <figcaption>{{ include.caption }}</figcaption>
  </figure>
</p>