<p></p>
<!-- Use include.data in the ID as it makes it unique -->
{%- assign id = include.date | replace: ":", "-" | prepend: "countdown-" -%}
<p class="center">
  <span class="countdown" id="{{ id }}">
    <span id="past-text">{{ site.data.locale.countdown-past | default: site.data.locale.en.countdown-past }}</span>

    <span id="days"></span>
    <span id="hours"></span>
    <span id="minutes"></span>
    <span id="seconds"></span>
  </span>

  <script>
    const second = 1000
    const minute = second * 60
    const hour = minute * 60
    const day = hour * 24

    const countdownEl = document.getElementById('{{ id }}');

    const daysEl = document.querySelector('#{{ id }} #days');
    const hoursEl = document.querySelector('#{{ id }} #hours');
    const minutesEl = document.querySelector('#{{ id }} #minutes');
    const secondsEl = document.querySelector('#{{ id }} #seconds');

    const countdownDate = new Date(Date.UTC(...('{{ include.date }}'.split(':').map((x, i) => parseInt(x) + (i === 1 ? -1 : 0)))));

    const interval = setInterval(updateCountdown, second);

    function updateCountdown() {
      const distance = countdownDate - Date.now();

      if (distance < 0) {
        countdownEl.classList.add('past');

        clearInterval(interval);

        return;
      }

      daysEl.textContent = Math.floor(distance / day).toString().padStart(2, '0');
      hoursEl.textContent = Math.floor((distance % day) / hour).toString().padStart(2, '0');
      minutesEl.textContent = Math.floor((distance % hour) / minute).toString().padStart(2, '0');
      secondsEl.textContent = Math.floor((distance % minute) / second).toString().padStart(2, '0');
    }

    updateCountdown();
  </script>
</p>
