<footer class="footer">
  <div class="footer-inner panel">

    <div class="footer-links flex flex-wrap flex-center panel-inset m0">
      <a href="{{ site.baseurl }}/about">About</a>
      <span class="separator">|</span>
      <a href="{{ site.baseurl }}/atom.xml" type="application/atom+xml" rel="alternate" title="ATOM Feed">RSS</a>
    </div>
    <div class="footer-rocket panel-inset m0">
      <div id="rocket" class="rocket"></div>
      <div class="shadow-overlay"></div>
      <div class="shadow-overlay-bottom"></div>
    </div>
    <div class="footer-copyright panel-inset m0">
      Fan Made Blog
    </div>
  </div>
</footer>
<script src="https://www.factorio.com/static/js/jquery-3.4.1.min.js"></script>
<script src="https://www.factorio.com/static/js/factorio.js" type="text/javascript"></script>
