<head>
	<title>{{ page.title | default: site.data.locale.title }}</title>
	<!-- Meta -->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	{% seo title=false %}	

	{% if page.image %}
	  <meta property="og:image" content="{{site.url}}{{page.image.url}}" />
	  <meta name="twitter:image" content="{{site.url}}{{page.image.url}}" />
	{% else %}
	  <meta property="og:image" content="https://alt-f4.blog/assets/GLOBAL/img/Alt-F4-icon_colour.png" />
	  <meta name="twitter:image" content="https://alt-f4.blog/assets/GLOBAL/img/Alt-F4-icon_colour.png" />
	{% endif %}

	<!-- CSS & fonts -->
	<link href="/assets/GLOBAL/css/titillium-web.css" rel="stylesheet">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/GLOBAL/css/style.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/GLOBAL/css/spidertron.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" rel="stylesheet"
		crossorigin="anonymous">
	<link
		href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,400italic%7CSignika:700,300,400,600'
		rel='stylesheet' type='text/css'>

	<link href="/assets/GLOBAL/img/favicon.ico" rel="icon" type="image/x-icon">
	<link href="/assets/GLOBAL/img/favicon.ico" rel="shortcut icon" type="image/x-icon">

	<!-- RSS -->
	<link href="{{ site.baseurl }}/atom.xml" type="application/atom+xml" rel="alternate" title="ATOM Feed" />

	<script src="/assets/GLOBAL/js/spidertron.js"></script>
	<script src="/assets/GLOBAL/js/localization.js"></script>
	<!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
</head>
