<header class="header">
	<div class="header-inner">
		<a href="https://www.factorio.com/" class="header-logo">
			<img src="https://www.factorio.com/static/img/factorio-logo.png">
		</a>
		<div class="header-links">
			<div class="dropdown">
				<a class="button  flex flex-space-between" href="https://www.factorio.com/game/game-overview">
					<div>
						Game
					</div>
					<div>
						<i class="fas fa-caret-down"></i>
					</div>
				</a>
				<div class="submenu">
					<a class="button " href="https://www.factorio.com/game/screenshots">
						Screenshots
					</a>
					<a class="button " href="https://www.factorio.com/game/videos">
						Videos
					</a>
					<a class="button " href="https://www.factorio.com/game/content">
						Content
					</a>
					<a class="button " href="https://www.factorio.com/game/artwork">
						Artwork
					</a>
					<a class="button " href="https://www.factorio.com/game/about">
						About us
					</a>
					<a class="button  button-green " href="https://www.factorio.com/buy">
						Buy
					</a>
					<a class="button  button-green " href="https://www.factorio.com/download">
						Demo
					</a>
				</div>
			</div>
			<div>
				<a class="button  flex flex-space-between" href="https://www.factorio.com/store">
					<div>
						Merch
					</div>
				</a>
			</div>
			<div class=" dropdown">
				<a class="button  flex flex-space-between" href="">
					<div>
						Blog
					</div>
					<div>
						<i class="fas fa-caret-down"></i>
					</div>
				</a>
				<div class="submenu">
					<a class="button " href="https://www.factorio.com/blog/">
						Developer blog
					</a>
					<a class="button " href="{{ site.baseurl }}">
						Fan Blog
					</a>
				</div>
			</div>
			<div class=" dropdown">
				<a class="button  flex flex-space-between" href="https://www.factorio.com/support/support-overview">
					<div>
						Support
					</div>
					<div>
						<i class="fas fa-caret-down"></i>
					</div>
				</a>
				<div class="submenu">
					<a class="button " href="https://www.factorio.com/support/help">
						Help
					</a>
					<a class="button " href="https://www.factorio.com/support/faq">
						FAQ
					</a>
					<a class="button " href="https://www.factorio.com/presskit">
						Presskit
					</a>
					<a class="button " href="https://www.factorio.com/support/contact">
						Contact
					</a>
				</div>
			</div>
		</div>
	</div>
</header>
