<div id="top" class="top-bar">
	<div class="top-bar-inner">
		<div class="sites links flex flex-items-baseline">
			<a href="https://factorio.com/" class="sites-current"> Factorio.com</a>
			<span class="separator separator-blue">|</span>
			<a href="https://forums.factorio.com/" class="">
				Forums</a>
			<span class="separator separator-blue">|</span>
			<a href="https://wiki.factorio.com/" class="">
				Wiki</a>
			<span class="separator separator-blue">|</span>
			<a href="https://mods.factorio.com" class="">
				Mod Portal</a>
		</div>
	</div>
</div>
