{% if paginator.total_pages > 1 %}
<div class="panel-inset text-right mb0 p4 flex flex-end flex-wrap">
  <!-- Previous Button -->

  {% if paginator.previous_page == 1 %}
  <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}" class="button square-sm"><i
      class="fas fa-angle-double-left"></i></a>
  {% elsif paginator.previous_page%}
  <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button square-sm"><i
      class="fas fa-angle-double-left"></i></a>
  {% else %}
  <a class="button square-sm disabled ">
    <i class="fas fa-angle-double-left"></i>
  </a>
  {% endif %}

  <!-- Page Numbers -->
  {% for page in (1..paginator.total_pages) %}
  {% if page == paginator.page %}
  <a class="button square-sm  active">
    {{ page }}
  </a>
  {% elsif page == 1 %}
  <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}" class="button square-sm">{{ page }}</a>
  {% else %}
  <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}"
    class="button square-sm">{{ page }}</a>
  {% endif %}
  {% endfor %}
  <!-- <div class="square-sm pagination-dots">
          <i class="fas fa-ellipsis-h"></i>
        </div> -->

  <!-- Next Button -->
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button square-sm">
    <i class="fas fa-angle-double-right"></i>
  </a>
  {% else %}
  <a class="button square-sm  disabled">
    <i class="fas fa-angle-double-right"></i>
  </a>
  {% endif %}
</div>
{% endif %}
