<!-- Calculate how many pages we have -->
{% assign count = 0 %}
{% for post in site.posts %}
  {% unless post.draft %}
    {% assign count = count | plus: 1 %}
  {% endunless %}
{% endfor %}
{% assign mod = count | modulo:  site.paginate %}
{% assign count = count | divided_by: site.paginate %}
{% if mod > 0 %}
  {% assign count = count | plus: 1 %}
{% endif %}
{% assign count = count | plus: 1 %}
{% assign pre_last = paginator.total_pages | minus: 1 %}


{% if count > 1 %}
<div class="panel-inset text-right mb0 p4 flex flex-end flex-wrap">
  <!-- Previous Button -->

  {% if paginator.previous_page == 1 %}
  <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}" class="button square-sm"><i
      class="fas fa-angle-double-left"></i></a>
  {% elsif paginator.previous_page%}
  <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button square-sm"><i
      class="fas fa-angle-double-left"></i></a>
  {% else %}
  <a class="button square-sm disabled ">
    <i class="fas fa-angle-double-left"></i>
  </a>
  {% endif %}

  <!-- Page Numbers -->
  {% for page in (1..count) %}
    {% if page == paginator.page %}
      <a class="button square-sm  active">{{ page }}</a>
    {% elsif page == 1 %}
      <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}" class="button square-sm">{{ page }}</a>
    {% else %}
      {% if page == paginator.next_page or page == paginator.previous_page or page == paginator.total_pages or page == 2 or page == 3 %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}" class="button square-sm">{{ page }}</a>
      {% elsif page == 4 or page == pre_last %}
        <div class="square-sm pagination-dots">
          <i class="fas fa-ellipsis-h"></i>
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}

  <!-- Next Button -->
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button square-sm">
    <i class="fas fa-angle-double-right"></i>
  </a>
  {% else %}
  <a class="button square-sm  disabled">
    <i class="fas fa-angle-double-right"></i>
  </a>
  {% endif %}
</div>
{% endif %}
