html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  // font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

/* ul {
   list-style: none;
} */

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  background-color: #201810;
  background: #201810;
  background-position: center top;
  color: #f5f5f5;
  font-family: titillium web, sans-serif;
  font-size: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.webp body {
  background-image: url("/assets/GLOBAL/img/mobile-bg.webp");
}

.no-webp body {
  background-image: url("/assets/GLOBAL/img/mobile-bg.jpg");
}

@media (min-width: 500px) {
  .webp body {
    background-image: url("/assets/GLOBAL/img/bg.webp");
  }

  .no-webp body {
    background-image: url("/assets/GLOBAL/img/bg.jpg");
  }
}

th {
  font-weight: 700;
}

pre {
  white-space: pre-wrap;
  line-height: 1.2;
}
.m0,
div.m0,
table.m0 {
  margin-top: 0;
  margin-bottom: 0;
}
div.mt0 {
  margin-top: 0;
}

.mt8,
div.mt8 {
  margin-top: 8px;
}
.m4,
div.m4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

div.mb0,
h2.mb0,
h3.mb0 {
  margin-bottom: 0;
}

div.p4,
td.p4 {
  padding: 4px !important;
}

a.no-outline,
a.no-outline:hover,
a.no-outline:active,
a.no-outline:focus {
  outline: none;
}
div.inline-block {
  display: inline-block;
}

div.overflow-hidden {
  overflow: hidden;
}

label {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: contents;
}

.mermaid {
  box-shadow: none !important;
}

.hide {
  display: none;
}

author {
  // font-size: 85%;
  font-style: italic;
  font-weight: normal !important;
}
