* {
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  background-color: #201810;
  background: #201810;
  background-position: center top;
  color: #f5f5f5;
  font-family: titillium web, sans-serif;
  font-size: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

@media (max-width: 500px) {
  body {
    background-image: url("/assets/GLOBAL/img/mobile-bg.jpg");
  }
}

@media (min-width: 500px) {
  body {
    background-image: url("/assets/GLOBAL/img/bg.jpg");
  }
}

th {
  font-weight: 700;
}

pre {
  white-space: pre-wrap;
  line-height: 1.2;
}
.m0,
div.m0,
table.m0 {
  margin-top: 0;
  margin-bottom: 0;
}
div.mt0 {
  margin-top: 0;
}

.mt8,
div.mt8 {
  margin-top: 8px;
}
.m4,
div.m4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

div.mb0,
h2.mb0,
h3.mb0 {
  margin-bottom: 0;
}

div.p4,
td.p4 {
  padding: 4px !important;
}

a.no-outline,
a.no-outline:hover,
a.no-outline:active,
a.no-outline:focus {
  outline: none;
}
div.inline-block {
  display: inline-block;
}

div.overflow-hidden {
  overflow: hidden;
}

label {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: contents;
}

.mermaid {
  box-shadow: none !important;
}

.hide {
  display: none;
}

author {
  // font-size: 85%;
  font-style: italic;
  font-weight: normal !important;
}

figcaption {
  color: #fff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 90%;
  vertical-align: baseline;
  line-height: 1.5;
  text-align: center;
  font-style: italic;
}

div.h100 {
  height: 100%;
}

div.p16 {
  padding: 16px;
}

.img-pair {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    box-shadow: none !important;
    margin: auto 0;
  }
}

@media (max-width: 750px) {
  .img-pair {
    flex-direction: column;
  }
}
sup {
  vertical-align: super;
  font-size: 0.7rem;
}

sub {
  vertical-align: sub;
  font-size: 0.7rem;
}

.flex-center {
  display: flex;
  justify-content: center;
}

table,
th,
td {
  border-bottom: 1px solid #757575;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

thead {
  border-bottom: 2px solid #b9b9b9;
}

div.highlighter-rouge {
  padding-top: 5px;
  padding-bottom: 5px;
}