.countdown {
  padding: 8px;
  background-color: #333;

  border-radius: 3px;
}

.countdown > span {
  padding: 4px;
  font-size: 16px;
  color: #f9b44b;
  background-color: #222;

  border-radius: 3px;
}

.countdown > :not(:last-child):not(#past-text) {
  margin-right: 5px;
}

.countdown:not(.past) > #past-text {
  display: none;
}

.countdown.past > *:not(#past-text) {
  display: none;
}