.dropdown > .submenu {
  position: absolute;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  transition: all 0.1s ease;
  margin-top: 35px;
  opacity: 0;
  z-index: 801;
}

.dropdown:hover > .submenu,
.dropdown.focus-within > .submenu,
.dropdown .submenu:hover,
.dropdown .submenu:focus {
  visibility: visible;
  opacity: 1;
}

.dropdown {
  display: flex;
}
