header {
  box-shadow: inset 0px 6px 22px -5px rgba(134, 36, 2, 1), 0px 4px 8px 0px rgba(17, 17, 17, 1);
  background-color: #ff9f1c;
  border: none;
  color: #222;
  margin: 12px 0;
  padding: 6px 12px;
  border-radius: 6px;
  border-bottom: 2px solid #862402;
  border-top: 1px solid #ff9f1c;
}
header h1 {
  text-shadow: -1px 0 1px #000, 1px 0 1px #ffc16d;
  font-size: 1.6em;
  color: #222;
  & a,
  & a:hover {
    color: #222;
  }
}
header p {
  color: #222;
}
