.image {
  position: relative;
  text-align: center;
  a {
    text-decoration: none;
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: transparent;
    }
  }
  a:hover {
    i {
      color: inherit;
    }
  }
}
@media (max-width: 750px) {
  .image {
    a {
      i {
        color: inherit;
      }
    }
  }
}
