.slots {
  background-color: #1c1c1c;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: hidden;
  // height: 42px;
  height: 52px;
}

.slots-rows-2 {
  height: 84px;
}

.slots-wrap {
  overflow: auto;
  height: auto;
}

.slot {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 48px;
  position: relative;
  z-index: 0;
  width: 48px;
  height: 48px;
  margin: 1px;
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-decoration: none !important;
}

.slot-button {
  color: #000;
  background-color: #8e8e8e;
  box-shadow: inset 8px 0 4px -8px #000, inset -8px 0 4px -8px #000, inset 0 10px 2px -8px #e3e3e3,
    inset 0 10px 2px -8px #282828, inset 0 -9px 2px -8px #000, 0 0 4px 0 #000;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  font-weight: 600;
  width: 100%;
  height: 100%;
}

.slot-button-inline {
  color: #5a5a5a;
  background-color: #313131;
  box-shadow: inset 0 -4px 0.5px -2px #121212, inset 5px 0 2px -2.5px #1f1f1f, inset -3px 0 1px -1.5px #292929,
    inset 0 4px 1px -2px #515050;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  font-weight: 600;
  display: inline-block;
  padding: 8px 12px;
  color: #a7a7a7;
}

.slot-button:hover,
.slot-button-inline:hover,
.slot-button-inline.selected {
  color: #604814;
  background-color: #ffa900;
  box-shadow: inset 8px 0 4px -8px #000, inset -8px 0 4px -8px #000, inset 0 9px 2px -8px #fff,
    inset 0 8px 4px -8px #000, inset 0 -8px 4px -8px #000, inset 0 -9px 2px -8px #432400, 0 0 4px 0 #000,
    inset 0 0 4px 2px #f9b44b;
  text-decoration: none;
  z-index: 5;
}

.slot-button i {
  margin: 0;
  margin-left: 1px;
  font-size: 18px;
}

.slot-empty {
  position: relative;
  width: 100%;
  margin: 8px;
  background-color: #242324;
  box-shadow: 0 0 2px #131112;
}

.slot-empty::before {
  position: relative;
  content: "";
  z-index: -1;
  display: block;
  width: 100%;
  height: 0;
  box-shadow: 0 -0.5px 1.5px 1px #555250;
}

.slot-empty::after {
  position: relative;
  content: "";
  z-index: -1;
  display: block;
  width: 100%;
  height: 0;
  margin-top: 100%;
  box-shadow: 0 0.5px 1.5px 1px #161414;
}
