.toc {
  width: auto;
  margin-top: 0;
  margin-bottom: 10px !important;
}

.toc summary:focus {
  outline: none;
}

.toc .panel-inset {
  padding: 0;
}

.toc .panel-inset > ul {
  margin-top: 0;
  margin-bottom: 0;
}

.toc a {
  font-size: 0.9em;
  color: #ffe6c0;
}

.toc summary > h2 {
  display: inline;
}

.toc .panel-inset > ul ul {
  margin-top: 8px;
}

@media (min-width: 1920px) {
  .toc {
    position: fixed;
    left: calc(calc(calc(100vw - 1200px) / 2) - 355px);
    width: 350px;
  }
}
@media (min-width: 1936px) {
  .toc {
    left: calc(50vw - 976px);
  }
}
