/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  position: absolute;
  visibility: hidden;
  color: #e39827;
  text-align: center;
  border-radius: 6px;
  font-weight: 600;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  position: relative;
  opacity: 1;
}
.tooltip:hover button {
  visibility: hidden;
  position: absolute;
  opacity: 0;
}
