---
---

//@import "{{ site.theme }}";

/*******************************************************************************
***********************************  Reset  ************************************
*******************************************************************************/

:root {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
	&:before,
	&:after {
		content: "";
		content: none;
	}
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*******************************************************************************
***********************************  Global  ***********************************
*******************************************************************************/

html {
	background: #262626 url("/assets/GLOBAL/img/backgroundbyjd.png");
	height: 100vh;
	background-size: cover;
	background-attachment: local;
	background-position: center center;
	overflow-y: scroll;
}

body {
	background: none;
	font-family: titillium web, sans-serif;
	font-size: 16px;
	padding: 0;
	color: #fff;
	line-height: 1;
}
img {
	max-width: 100%;
	vertical-align: middle;
}
a {
	color: #7dcaed;
	text-decoration: none;
	cursor: pointer;
	&:hover {
		color: #9ad1ea;
		text-decoration: underline;
	}
	& i {
		margin-right: 4px;
	}
}
a.no-outline,
a.no-outline:hover,
a.no-outline:active,
a.no-outline:focus {
	outline: none;
}
i {
	font-style: italic;
}
em {
	color: #ffe6c0;
}
b,
strong {
	font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #ffe6c0;
	font-weight: 700;
	line-height: 1.25;
	& > a {
		color: inherit;
		&:hover {
			color: inherit;
		}
	}
	& > author {
		color: #aaa;
		font-size: 80%;
		font-weight: normal;
	}
}
h1,
h2 {
	font-size: 120%;
	font-weight: 900;
	margin-bottom: 12px;
	cursor: default;
}
h3 {
	font-size: 116%;
	font-weight: 900;
	margin-bottom: 16px;
}
h4 {
	font-size: 107%;
	font-weight: 400;
	margin-bottom: 8px;
}
p + h1,
p + h2,
p + h3,
p + h4 {
	margin-top: 16px;
}
p + p {
	margin-top: 16px;
}
p {
	line-height: 1.25;
}
ul {
	margin-top: 16px;
	margin-left: 32px;
	list-style-image: url(/assets/GLOBAL/img/wheel-white-11px.png);
}
ul + p,
ul + li {
	margin-bottom: 16px;
}
li {
	line-height: 1.25;
	margin-top: 8px;
	margin-bottom: 8px;
}
dl {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
dt {
	width: 65%;
	font-weight: 600;
}
dd {
	width: 35%;
}
form ul,
.dltabular form ul {
	margin-top: 0;
}
form dt,
.dltabular form dt {
	font-weight: 400;
	width: 40%;
	margin: auto 0;
}
form dd,
.dltabular form dd {
	width: 60%;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 0;
}
label {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	display: contents;
}

/*******************************************************************************
*********************************  Structure  **********************************
*******************************************************************************/

header {
	box-shadow: inset 0px 6px 22px -5px rgba(134, 36, 2, 1), 0px 4px 8px 0px rgba(17, 17, 17, 1);
	background-color: #ff9f1c;
	border: none;
	color: #222;
	margin: 12px 0;
	padding: 6px 12px;
	border-radius: 6px;
	border-bottom: 2px solid #862402;
	border-top: 1px solid #ff9f1c;
}
header h1 {
	text-shadow: -1px 0 1px #000, 1px 0 1px #ffc16d;
	font-size: 1.6em;
	color: #222;
	& a,
	& a:hover {
		color: #222;
	}
}
header p {
	color: #222;
}
h1:not(.forced):first-child {
	display: none;
}

/*******************************************************************************
*********************************  Components  *********************************
*******************************************************************************/

.container {
	margin: 0 auto;
	max-width: 1100px;
	width: 100%;
}

.sites {
	display: flex;
	align-items: baseline;
	padding: 16px 32px;
	font-size: 110%;
	background-color: rgba(0, 0, 0, 0.5);
	& a {
		color: #7dcaed;
		&.sites-current {
			color: #ffe6c0;
			font-weight: 700;
			font-size: larger;
		}
	}
}
.separator {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: default;
	margin-left: 8px;
	margin-right: 8px;
	color: #ccc;
}
.separator-blue {
	color: #7dcaed;
}

.panel,
.panel-lighter,
.panel-darker,
.panel-inset,
.panel-inset-lighter,
.panel-hole,
.mod-page-info article table,
.panel-hole-inner,
dl.panel-hole > dt,
dl.panel-hole > dd,
table.panel-hole th,
table.panel-hole td,
.mod-page-info article table th,
.mod-page-info article table td {
	background-color: #313031;
	border: none;
	padding: 12px;
	margin-top: 12px;
	margin-bottom: 12px;
	overflow: hidden;
}
.panel {
	background-color: #313031;
	box-shadow: inset 3px 0 3px -3px #201815, inset 2px 0 2px -2px #201815, inset 1px 0 1px -1px #201815,
		inset 0 3px 3px -3px #8f8c8b, inset 0 2px 2px -2px #8f8c8b, inset 0 1px 1px -1px #8f8c8b,
		inset -3px 0 3px -3px #201815, inset -2px 0 2px -2px #201815, inset -2px 0 1px -1px #201815,
		inset 0 -3px 3px -3px #000, inset 0 -2px 2px -2px #000, inset 0 -1px 1px -1px #000, 0 0 2px 0 #201815,
		0 0 4px 0 #201815;
}
.panel-evenodd:nth-child(even) {
	background-color: #424142;
}
.panel-evenodd:nth-child(odd) {
	background-color: #3b3a3b;
}
.panel-lighter {
	background-color: #414040;
	box-shadow: inset 3px 0 3px -3px #242324, inset 2px 0 2px -2px #242324, inset 1px 0 1px -1px #242324,
		inset 0 3px 3px -3px #8f8c8b, inset 0 2px 2px -2px #8f8c8b, inset 0 1px 1px -1px #8f8c8b,
		inset -3px 0 3px -3px #242324, inset -2px 0 2px -2px #242324, inset -2px 0 1px -1px #242324,
		inset 0 -3px 3px -3px #000, inset 0 -2px 2px -2px #000, inset 0 -1px 1px -1px #000, 0 0 2px 0 #201815,
		0 0 4px 0 #201815;
}
.panel-darker {
	background-color: #242324;
	box-shadow: inset 3px 0 3px -3px #242324, inset 2px 0 2px -2px #242324, inset 1px 0 1px -1px #242324,
		inset 0 3px 3px -3px #8f8c8b, inset 0 2px 2px -2px #8f8c8b, inset 0 1px 1px -1px #8f8c8b,
		inset -3px 0 3px -3px #242324, inset -2px 0 2px -2px #242324, inset -2px 0 1px -1px #242324,
		inset 0 -3px 3px -3px #000, inset 0 -2px 2px -2px #000, inset 0 -1px 1px -1px #000, 0 0 2px 0 #201815,
		0 0 4px 0 #201815;
}
.panel-inset,
.panel-inset-lighter {
	box-shadow: inset 0 0 3px 0 #000, 0 -2px 2px -1px #000, -2px 0 2px -2px #28221f, -2px 0 2px -2px #28221f,
		2px 0 2px -2px #28221f, 2px 0 2px -2px #28221f, 0 3px 3px -3px #8f8c8b, 0 2px 2px -2px #8f8c8b,
		0 1px 1px -1px #8f8c8b;
	background-color: #242324;
}
.panel-inset-lighter {
	background-color: #414040;
}

.blog-card-thumbnail {
	background-color: transparent;
	margin: 0 16px 0 0;
	width: 128px;
	height: 128px;
	flex-shrink: 0;
	padding: 0;
	position: relative;
	box-shadow: 0 -2px 3px -2px #000, -2px 0 4px -2px #28221f, 2px 0 4px -2px #28221f, 0 4px 3px -2px #646261;
	border-radius: 2px;
}
.shadow-overlay,
.shadow-overlay-bottom {
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 4px 0 #171717;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
	pointer-events: none;
}
.blog-card-text {
	width: 100%;
}
.posted-by {
	margin-top: -12px;
}
.snippet {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	line-height: 1.3;
}

.snippet-2 {
	-webkit-line-clamp: 2;
}

.m0 {
	margin: 0;
}
.mb0 {
	margin-bottom: 0;
}
.ms0 {
	margin-left: 0;
	margin-right: 0;
}
.mt0 {
	margin-top: 0;
}
.mt8 {
	margin-top: 8px;
}
.mt8 {
	margin-top: 8px;
}
.m4 {
	margin: 4px;
}
article img,
article iframe {
	display: block;
	margin: 20px auto;
	max-width: 100%;
	box-shadow: 0 -2px 3px -1px #000, -2px 0 4px -2px #28221f, 2px 0 4px -2px #28221f, 0 4px 3px -2px #646261;
	border-bottom: 1px solid #222;
}

.button-green-right {
	background-color: #5eb663;
	padding: 10px 12px;
	font-size: 100%;
	text-align: left;
	color: #000;
	font-weight: 600;
	display: inline-block;
	vertical-align: baseline;
	min-width: 128px;
	border: none;
	line-height: inherit;
	white-space: nowrap;
	box-shadow: inset 8px 0 4px -8px #000, inset 0 10px 2px -8px #95df99, inset 0 10px 2px -8px #163218,
		inset 0 -9px 2px -8px #000, 0 0 4px 0 #000;
	position: relative;
	margin-right: 14px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	height: 36px;
	text-align: right;
}

.button-green-right::after {
	content: "";
	position: absolute;
	height: 100%;
	width: 24px;
	right: -10px;
	top: 0;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAABACAMAAADCiszgAAABDlBMVEUAAAASMBURLxJJgUkAKxNKiU1Ih01msGpMjVFNjlFLik9ToFdLik9Lik9Lik5Yq1wIHgoOKhGAyoVNjVFipmY3cDpQkVVrsHB2vHlXmFyK1Y5/yoRvuHNcs2E7eT8bQB1doGFAe0IJIQxNjFJDgkhjrGgGHgxetmNcs2FasF9RllVVpllXqlxRnlVQm1RYrV0cQh5SoVcUNRdQk1VLllA8e0AXOhpQkFM0bDcqXC4jTiVRmFVFiUkIHgpTpFhNmVJEh0hNj1EtYTCI1I16w35utnJXn1tNk1FJkk1HjUs/fkI3czsyajYpWSsZPhxrsW9ZnV1XmVo6dz41bzgmUygkUCYiTSUTMRUPKxEOKRFdNbmJAAAAJ3RSTlMAVisODG41Bvb75Zfc1dGXlwb98/7y8fDS0JeXl5eXl25sVjU1MSucyRWzAAABMElEQVQ4y23M51LCUBiE4QWRKFFB7L37EUJTithI6FXs7f5vxDgok3Oy+/OdZxbGdrOZ3DyDOmMn2WptHM5odbfdflzdOtGq2ek8Pa/Pqtg0nVK3eLUUVWrcvsil08UVFaeszG/WsKQsT+tYJJW3s7caFpl8FOf8WKZ40YeFYqFYKBaKhWLx44V/LBQLxaLg+T8sFAvFouFYdFIZFoqFYqFYArjuYQngeuwUEsB19wii4lqu2x+s6dXO9QavDa1atuMOG2+Bh1658VFQq5XJutX3cQjaQal8XbgMQ6N31ZtKKAJKQSkoBaWgFJSCUlAKSkEpKAWloBSUglJQCkpBKSgFpdiz8rUARTxec9yRRmGYTv/lQaMw9ocjL6oUywfjyufXdxhqTdx7O46QmjhX4w9Fq5Q/daB+bwAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;
	background-position: 100% 0%;
	background-size: contain;
}

.button-green-right i {
	margin-right: 0;
}

.button-green-right:hover,
.button-green-right:focus,
.button-green-right.hover {
	color: #000;
	text-decoration: none;
	outline: 0;
	filter: brightness(1.3) drop-shadow(0 0 2px #34be3c);
}

.button-green-right:active,
.button-green-right.active {
	position: relative;
	padding-top: 12px;
	padding-bottom: 8px;
	vertical-align: -2px;
	box-shadow: inset 0 10px 2px -8px #000, inset 0 9px 2px -8px #000, inset 8px 0 4px -8px #3f5024,
		inset 8px 0 4px -8px #3f5024, inset 0 9px 2px -8px #3f5024, inset 0 -9px 2px -8px #3f5024,
		inset 0 -8.5px 0 -8px #3f5024, 0 0 4px 0 #000;
	background-color: #cfdf93;
	filter: none;
	outline: 0;
}

.button-green-right:active::after,
.button-green-right.active::after {
	content: "";
	position: absolute;
	height: 100%;
	width: 24px;
	right: -10px;
	top: 0;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAABACAMAAADCiszgAAACBFBMVEUAAACWq1clPgwnPRChwmOhv18iOQ4iOhEdLwwhNBAkOA8jOQ4iNBAkPBSJolSUs1t1ij4kNA4MHwAhLwwhMw0hMQ+Fn0+Jp16Xt14aLA0kOxQlPBR5jkAnOBMqOhYVJQYOIgMcLgsLHQIoPRgZKQoiOBEkOxF4jj6SsFkLGwMlORdOYCRleS4/UB9ohU8xRR3P35PD5ovO3pHM3ZDK243A1IXG2Iq4zX7N4JLM4ZHL4pDJ4o+ev2nH44/F5I6guGoxRxitw3WBmlNxiUZOZS294YW12H0+VCKqzXOcvGWSqmBedjmevmSRqV9geDoQIQIJGgLJ346v0nquxHUmMSMEEQTF4Y3B44mtzom+3IegwoSVt3+etWlwj2KKpld+llJ/mVFuhUQ6TiLH2oq704nA24e21Ya73oW73oOz1X210n2oy3Klxm6lvW6Lq22YuWWaumSUs2KYt2CQpl6Rr1yLqFuNplqBnFF0jEN2kEJeci9MYi1LYCtBVCU9UyItQBguQxccKBLK3Y3C2onD1YfC2IWrzYS22YC6z32bvny1ynu10HigwnaoyHOpx22brmmjv2WWtWGMq2GPr196lV2AnFprh1iSrlZ4k1ZuilaLp1F4kEpyikhmfUF1jEBdcD5acjdUZzdtgjZacDNNYi5HWy0zQyg4TCYoNx4pOxsmMRogMA46/ea2AAAAMHRSTlMADhT7YTLolBhR/O2XTTk1Ev779vKcbWxlVk5MPv76+Ovpp6CclpRzZ15aVU5JRxpOaUmtAAAB4klEQVQ4y23Q5VuTcRTG8VtRBKQEAxS7++BgM6YOwYBJbOo6AQnp7rK7u5v6J3keHsbO2fW7X36vz4tzHVRryzmIhNVoy9mVArkb2mp25ENuZm5qqnr7ngT849e/6dn5namyvugJf/trS0tfKWqxpa0/OjqZnCFq0d3HgbB9PGmfwCeKiksqS8tsyVt4JZPZcv6C/XLSGo5JiUmJKY4zWFViUmJSYlrCFRpeu5lXA1cxTEpMAu9dwiRxarzGcezPtIyvVXwts603MAk8npaeYlSGS0cmDUwcR+y16zbomDiujI5O5ObrleNA+KeBieOSnujIRO4hrTJcZwlEqsa27j6uV3HGlz+1246CeK572NY/NDx2WNbb9568/Px9+Iio5Lh56/mHod8Fop7UamtocH+2qKcc3mbrwGABwOlpl9fZFdmYDXB6xtX4rG8gEwCnZ90PrCGdgtNzbmdXSKfgtLCptffACr1yWtjc0ZsFfZxebHmVt0jB6SVrt0HB6ZXOVQaFoOWrYYzT8hgFp1djFEoKJYWSQkmhpFBSKCmUFCaTw+VuaukUFGbzHW+js6NbUNTXNzQ4rW/yBIXH47n/9HVfFsR8Pt+j9nebJIXf729/+zETcsFg8P2nRIrr2v4fg9wCPnjQTyTwM1IAAAAASUVORK5CYII=);
	background-repeat: no-repeat;
	background-position: 100% 0%;
	background-size: contain;
}

.button-green-right.disabled,
.button-green-right.disabled:hover,
.button-green-right.disabled:active {
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: default;
	vertical-align: 0;
	background-color: #002b02;
	color: #376d3b;
	box-shadow: inset 8px 0 4px -8px #000, inset -8px 0 4px -8px #000, inset 0 8px 4px -8px #000,
		inset 0 -6px 4px -8px #376d3b, inset 0 -8px 4px -8px #000, 0 0 4px 0 #000;
	filter: none;
}

.button {
	background-color: #8e8e8e;
	padding: 10px 12px;
	font-size: 100%;
	text-align: left;
	color: #000;
	font-weight: 600;
	display: inline-block;
	vertical-align: baseline;
	min-width: 128px;
	border: none;
	line-height: inherit;
	white-space: nowrap;
	box-shadow: inset 8px 0 4px -8px #000, inset -8px 0 4px -8px #000, inset 0 10px 2px -8px #e3e3e3,
		inset 0 10px 2px -8px #282828, inset 0 -9px 2px -8px #000, 0 0 4px 0 #000;
	position: relative;
	margin-right: 14px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	height: 36px;
	text-align: left;
}
.button i {
	margin-right: 0;
}
.button:hover,
.button:focus,
.button.hover {
	color: #000;
	text-decoration: none;
	outline: 0;
	box-shadow: inset 8px 0 4px -8px #000, inset -8px 0 4px -8px #000, inset 0 9px 2px -8px #fff,
		inset 0 8px 4px -8px #000, inset 0 -8px 4px -8px #000, inset 0 -9px 2px -8px #432400, 0 0 4px 0 #000,
		inset 0 0 4px 2px #f9b44b;
	background-color: #e39827;
	filter: drop-shadow(0 0 2px #f9b44b);
}
.button:active,
.button.active {
	position: relative;
	padding-top: 12px;
	padding-bottom: 8px;
	vertical-align: -2px;
	box-shadow: inset 0 10px 2px -8px #000, inset 0 9px 2px -8px #000, inset 8px 0 4px -8px #563a10,
		inset 8px 0 4px -8px #563a10, inset -8px 0 4px -8px #563a10, inset -8px 0 4px -8px #563a10,
		inset 0 9px 2px -8px #563a10, inset 0 -9px 2px -8px #563a10, inset 0 -8.5px 0 -8px #563a10, 0 0 4px 0 #000;
	background-color: #f1be64;
	filter: none;
	outline: 0;
}
.button.disabled,
.button.disabled:hover,
.button.disabled:active {
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: default;
	vertical-align: 0;
	background-color: #3d3d3d;
	color: #818181;
	box-shadow: inset 8px 0 4px -8px #000, inset -8px 0 4px -8px #000, inset 0 8px 4px -8px #000,
		inset 0 -6px 4px -8px #818181, inset 0 -8px 4px -8px #000, 0 0 4px 0 #000;
	filter: none;
}
.square-sm {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	vertical-align: baseline;
	padding: 2px;
	min-width: 36px;
	width: 36px;
	height: 36px;
	text-align: center;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 8px;
}
.pagination-dots {
	width: 30px;
	min-width: 30px;
}

.flex {
	display: flex;
}
.flex-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.flex-wrap {
	flex-wrap: wrap;
}

.flex-end {
	justify-content: flex-end;
}

.flex-space-between {
	display: flex;
	justify-content: space-between;
}

.flex-start {
	display: flex;
	justify-content: flex-start;
}

.flex-space-evenly {
	display: flex;
	justify-content: space-evenly;
}

.flex-center {
	display: flex;
	justify-content: center;
}

.flex-align-items-center,
.flex-items-center {
	align-items: center;
}

.flex-items-end {
	align-items: end;
}

.flex-items-baseline {
	align-items: baseline;
}
.flex-grow {
	flex-grow: 1;
}
.fg1 {
	flex-grow: 1;
}
.fg2 {
	flex-grow: 2;
}
.fg3 {
	flex-grow: 3;
}
.fg4 {
	flex-grow: 4;
}

// Footer
.footer {
	width: 1200px;
	max-width: 100%;
	margin: auto auto 0;
}

.footer-inner {
	margin-top: 0;
	display: flex;
	margin-bottom: 16px;
	overflow: visible !important;
}

.footer-links {
	text-align: center;
	width: 50%;
	margin-right: 16px;
	font-size: 85%;
}

.footer-rocket {
	text-align: center;
	background: url(/assets/GLOBAL/img/footer-bg.jpg);
	background-position: center center;
	background-size: 192px;
	width: 240px;
	position: relative;
	overflow: visible !important;
}

.footer-rocket .rocket {
	background: url(/assets/GLOBAL/img/spider-idle.gif);
	background-size: 170px;
	width: 170px;
	margin-left: -85px;
	height: 130px;
	position: absolute;
	bottom: 0;
	left: 50%;
	z-index: 50;
	transition: height 1s linear;
}

.footer-copyright {
	text-align: center;
	width: 50%;
	margin-left: 16px;
	font-size: 92.5%;
}

@media (max-width: 750px) {
	.top-bar-inner > div {
		width: 100%;
		flex-wrap: wrap;
	}
	.footer-rocket {
		display: none;
	}
	.footer-links {
		margin-right: 0;
	}
}
