---
---

@import "{{ site.theme }}";
body{
	font-family: titillium web,sans-serif;
	font-size:18px;
	padding:0;
}
.sites {
	padding:16px 32px;
	background-color: rgba(0,0,0,.5);
	color:white;
	& a{
		color:#7dcaed;
		&.sites-current{
			color:#ffe6c0;
		}
	
	}
	& *:not(:first-child):before{
		content:"|";
		padding:0 8px;
	}
}