---
---

@import "{{ site.theme }}";
:root{
	font-family: titillium web,sans-serif;
	font-size:16px;
}
.sites {
	padding:16px 32px;
	background-color: rgba(0,0,0,.5);
	color:white;
	&-current{
		color:#ffe6c0;
	}
	& a{
		color:#7dcaed;
	}
}