---
---

@import "{{ site.theme }}";
html {
	background-color: #262626;
}
body{
	font-family: titillium web,sans-serif;
	font-size:18px;
	padding:0;
}
.sites {
	padding:16px 32px;
	background-color: rgba(0,0,0,.5);
	color:white;
	& a{
		color:#7dcaed;
		&.sites-current{
			color:#ffe6c0;
		}
	
	}
	& *:not(:last-child):after{
		content:"|";
		padding:0 8px;
	}
}
.wrapper {
	margin:16px auto;
}
header {
	box-shadow: inset 0px 6px 22px -5px rgba(134,36,2,1), 0px 4px 8px 0px rgba(17,17,17,1);
   background-color: #FF9F1C;
   border:none;
}
section {
	border:none;
}
