<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  <div id="wrap">

    <!-- Navigation -->
    {% include navigation.html %}



    <!-- Main content -->
    <div class="container">

      <!-- Header -->
      {% include header.html %}

      <div class="container-inner">
        <div class="small-center"></div>

        <!-- Posts -->
        {{ content }}

      </div>

      <!-- Footer -->
      {% include footer.html %}
    </div>


  </div>

  <!-- Snalytics -->
  {% include analytics.html %}
</body>

</html>