<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div id="wrap">

      <!-- Navigation -->
      {% include menu.html %}

      <!-- Icon menu -->
      <a {% if site.reverse == true %}id="nav-menu-left" {% else %}id="nav-menu" {% endif %}>
        <div id="menu"></div>
      </a>

      <!-- Header -->
      {% if site.custom_header == true %}
      {% include header-custom.html %}
      {% else %}
      {% include header.html %}
      {% endif %}

      <!-- Main content -->
      <div class="container">
        <div class="container-inner">
          <div class="small-center"></div>


          <!-- Posts -->
          {{ content }}

        </div>
      </div>

      <!-- Footer -->
      {% include footer.html %}

    </div>
  </body>

</html>
