<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  <div id="wrap">

    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Header -->

    <!-- Main content -->
    <div class="container">

      {% include header.html %}

      <div class="container-inner">
        <div class="small-center"></div>

        <!-- Posts -->
        {{ content }}

      </div>
    </div>

    <!-- Footer -->
    {% include footer.html %}

  </div>

  <!-- Footer -->
  {% include analytics.html %}
</body>

</html>