---
layout: default
---
<div class="panel">
	<h1>{{ site.data.locale.home-header }}</h1>
	{% include pagination.html %}
	{% for post in paginator.posts %}
	{% unless post.draft %}
	<a href="{{ site.baseurl }}{{ post.url }}" class="panel-inset-lighter blog-card">
		{% if post.image %}
		<div class="blog-card-thumbnail">
			<img src="{{ post.image.url }}" alt="{{ post.image.transcription }}">
			<div class="shadow-overlay"></div>
		</div>
		{% endif %}
		<div class="blog-card-text">
			<h3>{{ post.title }}</h3>
			<div class="posted-by">
				{% include author.html %}
			</div>
			<hr>
			<div class="snippet">
				<p>{{ post.content | first_paragraph | strip_html}}</p>
			</div>
		</div>
	</a>
	{% endunless %}
	{% endfor %}
	{% include pagination.html %}
</div>
