---
layout: default
---
<article class="panel blog-post">
	{% if page.title %}
	<h1 class="page-title-headder">{{ page.title }}</h1>
	{% endif %}
	{% if page.author or page.editor or page.date %}
	<div class="panel-inset mb0">
		{% include author.html %}
	</div>
	{% endif %}
	<div class="panel-inset-lighter mt0">
		{{ content }}
		{% include discuss.html %}
	</div>
	<div class="panel-inset mb0 p4 flex flex-space-between">
		<div>
			<a class="button square-sm" href="/">
				<i class="fas fa-angle-double-left"></i>
			</a>
		</div>
	</div>
</article>
